<h1>Intranet</h1>

<ul>
    <% @collection.where(show_on_intranet: true).each do |page| %>
        <li>
            <a href="<%= spree.admin_intranet_url(page) %>"><%= page.title %>
        </li>
    <% end %>
</ul>  